In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("C:\MASTERS\RITVA\SEM-2\Advanced Database System\PROJECT\IDSData.csv")

In [8]:
print(df.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023',
       '2024', 'Unnamed: 59'],
      dtype='object')

In [4]:
print(df.head(100))

   Country Name Country Code  \
0   Afghanistan          AFG
1   Afghanistan          AFG
2   Afghanistan          AFG
3   Afghanistan          AFG
4   Afghanistan          AFG
..          ...          ...
95  Afghanistan          AFG
96  Afghanistan          AFG
97  Afghanistan          AFG
98  Afghanistan          AFG
99  Afghanistan          AFG

                                       Indicator Name  Indicator Code  1970  \
0   Average grace period on new external debt comm...     DT.GPA.DPPG   0.0
1   Average grace period on new external debt comm...     DT.GPA.OFFT   0.0
2   Average grace period on new external debt comm...     DT.GPA.PRVT   0.0
3   Average grant element on new external debt com...     DT.GRE.DPPG   0.0
4   Average grant element on new external debt com...     DT.GRE.OFFT   0.0
..                                                ...             ...   ...
95  Net flows on external debt, total (NFL, curren...  DT.NFL.DECT.CD   0.0
96  Net transfers on external debt, long-term (NTR...  DT.NTR.DLXF.CD   0.0
97  Net transfers on external debt, private nongua...  DT.NTR.DPNG.CD   0.0
98  Net transfers on external debt, public and pub...  DT.NTR.DPPG.CD   0.0
99  Net transfers on external debt, total (NTR, cu...  DT.NTR.DECT.CD   0.0

    1971  1972  1973  1974  1975  ...        2016          2017  2018  2019  \
0    0.0   0.0   0.0   0.0   0.0  ...         0.0  1.983180e+01   NaN   NaN
1    0.0   0.0   0.0   0.0   0.0  ...         0.0  1.983180e+01   NaN   NaN
2    0.0   0.0   0.0   0.0   0.0  ...         0.0  0.000000e+00   NaN   NaN
3    0.0   0.0   0.0   0.0   0.0  ...         0.0  8.383330e+01   NaN   NaN
4    0.0   0.0   0.0   0.0   0.0  ...         0.0  8.383330e+01   NaN   NaN
..   ...   ...   ...   ...   ...  ...         ...           ...   ...   ...
95   0.0   0.0   0.0   0.0   0.0  ... -50811859.3  5.221199e+07   NaN   NaN
96   0.0   0.0   0.0   0.0   0.0  ... -18601000.0 -2.734900e+07   NaN   NaN
97   0.0   0.0   0.0   0.0   0.0  ...         0.0  0.000000e+00   NaN   NaN
98   0.0   0.0   0.0   0.0   0.0  ... -18600531.9 -2.734938e+07   NaN   NaN
99   0.0   0.0   0.0   0.0   0.0  ... -58956546.7  4.147735e+07   NaN   NaN

    2020  2021  2022  2023  2024  2025
0    NaN   NaN   NaN   NaN   NaN   NaN
1    NaN   NaN   NaN   NaN   NaN   NaN
2    NaN   NaN   NaN   NaN   NaN   NaN
3    NaN   NaN   NaN   NaN   NaN   NaN
4    NaN   NaN   NaN   NaN   NaN   NaN
..   ...   ...   ...   ...   ...   ...
95   NaN   NaN   NaN   NaN   NaN   NaN
96   NaN   NaN   NaN   NaN   NaN   NaN
97   NaN   NaN   NaN   NaN   NaN   NaN
98   NaN   NaN   NaN   NaN   NaN   NaN
99   NaN   NaN   NaN   NaN   NaN   NaN

[100 rows x 60 columns]

In [11]:
columns=['Country Name', 'Country Code','Indicator Name','Indicator Code']
df.columns = [c.replace(' ', '_') for c in df.columns]

In [12]:
df=df.fillna(0)

In [14]:
countries=df["Country_Name"]
print(countries.value_counts())

Solomon Islands         214
Mali                    214
Lower middle income     214
Syrian Arab Republic    214
South Africa            214
                       ...
Sri Lanka               214
India                   214
Guatemala               214
Algeria                 214
Nigeria                 214
Name: Country_Name, Length: 136, dtype: int64