In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\ritva\anaconda3\lib\site-packages (0.10.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
#This code makes the connection with mysql localhost where database is international_debt and debt_data is the table name!!

In [1]:
import pymysql
import pandas as pd

conn = pymysql.connect(
    host="localhost",
    port=int(3306),
    user="root",
    passwd="admin",
    db="international_debt",
    charset='utf8mb4')

In [18]:
#This query provides a look at the table columns and values.
debt=pd.read_sql_query("SELECT * FROM debt_data LIMIT 10",conn)
print(debt)

  country_name country_code  \
0  Afghanistan          AFG
1  Afghanistan          AFG
2  Afghanistan          AFG
3  Afghanistan          AFG
4  Afghanistan          AFG
5  Afghanistan          AFG
6  Afghanistan          AFG
7  Afghanistan          AFG
8  Afghanistan          AFG
9  Afghanistan          AFG

                                      indicator_name  indicator_code  \
0  Disbursements on external debt, long-term (DIS...  DT.DIS.DLXF.CD
1  Interest payments on external debt, long-term ...  DT.INT.DLXF.CD
2                  PPG, bilateral (AMT, current US$)  DT.AMT.BLAT.CD
3                  PPG, bilateral (DIS, current US$)  DT.DIS.BLAT.CD
4                  PPG, bilateral (INT, current US$)  DT.INT.BLAT.CD
5               PPG, multilateral (AMT, current US$)  DT.AMT.MLAT.CD
6               PPG, multilateral (DIS, current US$)  DT.DIS.MLAT.CD
7               PPG, multilateral (INT, current US$)  DT.INT.MLAT.CD
8         PPG, official creditors (AMT, current US$)  DT.AMT.OFFT.CD
9         PPG, official creditors (DIS, current US$)  DT.DIS.OFFT.CD

          debt
0   72894453.7
1   53239440.1
2   61739336.9
3   49114729.4
4   39903620.1
5   39107845.0
6   23779724.3
7   13335820.0
8  100847181.9
9   72894453.7

In [2]:
# This query displays total number of distinct countries in the data.
debt=pd.read_sql_query("SELECT COUNT(DISTINCT country_name) AS total_distinct_countries FROM debt_data",conn)
print(debt)

   total_distinct_countries
0                       124

In [7]:
#This displays all the unique debt indicators.
debt=pd.read_sql_query("SELECT DISTINCT indicator_code AS distinct_debt_indicators FROM debt_data ORDER BY distinct_debt_indicators",conn)
print(debt)

   distinct_debt_indicators
0            DT.AMT.BLAT.CD
1            DT.AMT.DLXF.CD
2            DT.AMT.DPNG.CD
3            DT.AMT.MLAT.CD
4            DT.AMT.OFFT.CD
5            DT.AMT.PBND.CD
6            DT.AMT.PCBK.CD
7            DT.AMT.PROP.CD
8            DT.AMT.PRVT.CD
9            DT.DIS.BLAT.CD
10           DT.DIS.DLXF.CD
11           DT.DIS.MLAT.CD
12           DT.DIS.OFFT.CD
13           DT.DIS.PCBK.CD
14           DT.DIS.PROP.CD
15           DT.DIS.PRVT.CD
16           DT.INT.BLAT.CD
17           DT.INT.DLXF.CD
18           DT.INT.DPNG.CD
19           DT.INT.MLAT.CD
20           DT.INT.OFFT.CD
21           DT.INT.PBND.CD
22           DT.INT.PCBK.CD
23           DT.INT.PROP.CD
24           DT.INT.PRVT.CD

In [3]:
# 1)This shows how much total amount has been spent by the international bank on all the countries.
debt=pd.read_sql_query("SELECT ROUND(SUM(debt)/1000000, 2) AS total_debt FROM debt_data",conn)
print(debt)

   total_debt
0  3079734.49

In [4]:
#This queries shows that "China" has the highest debt from the bank.
debt=pd.read_sql_query("SELECT country_name,  SUM(debt) AS total_debt FROM debt_data GROUP BY country_name ORDER BY total_debt DESC LIMIT 1",conn)
print(debt)

  country_name    total_debt
0        China  2.857935e+11

In [10]:
#This provides the average debt spent across different indicators.
debt=pd.read_sql_query("SELECT indicator_code AS debt_indicator, indicator_name, AVG(debt) AS average_debt FROM debt_data GROUP BY debt_indicator, indicator_name ORDER BY average_debt DESC LIMIT 10",conn)
print(debt)

   debt_indicator                                     indicator_name  \
0  DT.AMT.DLXF.CD  Principal repayments on external debt, long-te...
1  DT.AMT.DPNG.CD  Principal repayments on external debt, private...
2  DT.DIS.DLXF.CD  Disbursements on external debt, long-term (DIS...
3  DT.DIS.OFFT.CD         PPG, official creditors (DIS, current US$)
4  DT.AMT.PRVT.CD          PPG, private creditors (AMT, current US$)
5  DT.INT.DLXF.CD  Interest payments on external debt, long-term ...
6  DT.DIS.BLAT.CD                  PPG, bilateral (DIS, current US$)
7  DT.INT.DPNG.CD  Interest payments on external debt, private no...
8  DT.AMT.OFFT.CD         PPG, official creditors (AMT, current US$)
9  DT.AMT.PBND.CD                      PPG, bonds (AMT, current US$)

   average_debt
0  5.904868e+09
1  5.161194e+09
2  2.152041e+09
3  1.958983e+09
4  1.803694e+09
5  1.644024e+09
6  1.223139e+09
7  1.220411e+09
8  1.191188e+09
9  1.082624e+09

In [13]:
#This displays a country which has highest debt amount in the category of long term plans this helps us to know a countries economic condition. 
debt=pd.read_sql_query("SELECT country_name, indicator_name FROM debt_data WHERE debt = (SELECT MAX(debt) FROM debt_data WHERE indicator_code='DT.AMT.DLXF.CD')",conn)
print(debt)

  country_name                                     indicator_name
0        China  Principal repayments on external debt, long-te...

In [14]:
#This validates our investigations by providing the most frequent debt indicator.
debt=pd.read_sql_query("SELECT indicator_code, COUNT(indicator_code) AS indicator_count FROM debt_data GROUP BY indicator_code ORDER BY indicator_count DESC, indicator_code DESC LIMIT 20",conn)
print(debt)

    indicator_code  indicator_count
0   DT.INT.OFFT.CD              124
1   DT.INT.MLAT.CD              124
2   DT.INT.DLXF.CD              124
3   DT.AMT.OFFT.CD              124
4   DT.AMT.MLAT.CD              124
5   DT.AMT.DLXF.CD              124
6   DT.DIS.DLXF.CD              123
7   DT.INT.BLAT.CD              122
8   DT.DIS.OFFT.CD              122
9   DT.AMT.BLAT.CD              122
10  DT.DIS.MLAT.CD              120
11  DT.DIS.BLAT.CD              113
12  DT.INT.PRVT.CD               98
13  DT.AMT.PRVT.CD               98
14  DT.INT.PCBK.CD               84
15  DT.AMT.PCBK.CD               84
16  DT.INT.DPNG.CD               79
17  DT.AMT.DPNG.CD               79
18  DT.INT.PBND.CD               69
19  DT.AMT.PBND.CD               69

In [5]:
#This provides the debt indicators of the country in which it has its highest debt.
debt=pd.read_sql_query("SELECT country_name, indicator_code, MAX(debt) AS maximum_debt FROM debt_data GROUP BY country_name, indicator_code ORDER BY maximum_debt DESC LIMIT 10",conn)
print(debt)

                                   country_name  indicator_code  maximum_debt
0                                         China  DT.AMT.DLXF.CD  9.621862e+10
1                                        Brazil  DT.AMT.DLXF.CD  9.004184e+10
2                                         China  DT.AMT.DPNG.CD  7.239299e+10
3                            Russian Federation  DT.AMT.DLXF.CD  6.658976e+10
4                                        Turkey  DT.AMT.DLXF.CD  5.155503e+10
5                                    South Asia  DT.AMT.DLXF.CD  4.875630e+10
6                                        Brazil  DT.AMT.PRVT.CD  4.359870e+10
7                            Russian Federation  DT.AMT.DPNG.CD  4.280015e+10
8                                        Brazil  DT.AMT.DPNG.CD  4.183144e+10
9  Least developed countries: UN classification  DT.DIS.DLXF.CD  4.016077e+10